/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply p-2 m-2 border border-purple-200 bg-gray-200 focus:outline-none focus:border-indigo-800 rounded-md shadow-sm ;
}

.sidebar {
  @apply w-64 bg-purple-600 bg-opacity-75 shadow flex-col justify-between m-2 rounded-md;
}

.sidebar-route {
  @apply rounded-md flex w-full justify-between cursor-pointer items-center m-3 p-3;
}

.label {
  @apply p-1 m-2 text-center;
}

.formulario {
  @apply rounded-xl flex flex-col bg-gray-100 items-center justify-center p-3;
}
